<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="userBusinessImpl" class="com.sameer.business.UserBusinessImpl">
        <property name="databaseOperation" ref="jdbcDatabaseOperation" />
        <property name="validator" ref="validator" />
    </bean>
    <bean id="jdbcDatabaseOperation" class="com.sameer.database.DatabaseOperations"></bean>
    <bean id="validator" class="com.sameer.factory.ValidatorImpl"></bean>

</beans>