<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Login Form</display-name>
    <servlet>
        <servlet-name>Insert</servlet-name>
        <servlet-class>com.sameer.controller.InsertData</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Retreive</servlet-name>
        <servlet-class>com.sameer.controller.Retreive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>com.sameer.controller.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateValue</servlet-name>
        <servlet-class>com.sameer.controller.UpdateValue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNewData</servlet-name>
        <servlet-class>com.sameer.controller.UpdateNewData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>com.sameer.controller.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestController</servlet-name>
        <servlet-class>com.sameer.controller.RestController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RestController</servlet-name>
        <url-pattern>/servlet/rest</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Insert</servlet-name>
        <url-pattern>/servlet/insert</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Retreive</servlet-name>
        <url-pattern>/servlet/retreive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/servlet/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNewData</servlet-name>
        <url-pattern>/servlet/updatenewdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateValue</servlet-name>
        <url-pattern>/servlet/updatevalue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/servlet/delete</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>insert.html</welcome-file>
    </welcome-file-list>

</web-app>
